*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
.banner::after{
  content:"";
  background-image: url("../../images/bg_image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-position: top right !important;
  width: 100%;
  height: 100vh;
  position:absolute;
  top: 0;
  z-index: -1;
  opacity: .8;

}
.banner{
  position: relative;

height: 100vh;



}
.banner-content {
  width: 97% !important;
  margin: 0 auto;
   padding-top: 7rem;
    display:flex !important;
    align-items: center;

    justify-content: flex-end !important;
 
    width: 60%;
    /* height: 100vh; */

  
}
/* .container {

font-size: 2.2rem !important; */


/* .btn-group {

display: flex;
align-items: center;
flex-direction: column;
margin-left: 20px;
width: 30%;
min-width: 300px;
} */
/* .btn-group button {
    background-color: #dc143c; 
    border: 1px solid rgb(128, 0, 49); 
    color: white; 
    padding: 8px 3rem; 
    cursor: pointer; 
    /* width: 35%;  */
    /* display: block; 
    border: 2px solid white;
    display: flex !important;
    justify-content: flex-start;
    margin-top: 8px;
    margin-left: 10px !important;
    border-radius: 12px;
    font-size: 16px;
    text-align: center;
    margin: 8 auto;
    border: 2px solid white !important; */

  /* }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  /* }
   */ 
  /* .btn-group button:hover {
    background-color: #8e4a3e;
  }
 */


 .banner{
   /* border:2px solid blue; */
   height: 100vh;
   /* padding-top: 4rem; */

 }
 .banner_container{
 
   width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* border:1px solid black; */
  
 }
 .banner_container_main_title{
   font-size:52px;
   color: orangered;;
   /* border:2px solid orangered; */
   text-align: center;
   padding:2rem;
   padding-bottom: 120px;
 }
 .banner_container_content_left_title{
   font-size:52px;
   color: orangered;
 }
 .banner_container_content_left_text{
  font-size:18px;
  width: 80%;
  color: black;
  opacity: .6;
}

 .banner_container_content_left{
   width: 60%;
 }
 .banner_container_content_right{width: 40%;}
 .banner_container_content_right>img{
   width: 100%;
 }

 .covid_btn-group{
   margin-top:2rem;
   /* border:2px solid green; */
   width: 50%;
   display: flex;
   justify-content: space-between;
   min-width: 350px;
 }

 .covid_btn{
   width: 100%;
   border-radius: 10px;
   background-color: black;
   color: white;
   padding:.8rem 3rem;
   color: orange;
   font-weight: bold;

 }
Link{
 
  text-decoration-style: none;
}
 @media screen and (max-width: 800px) {
  .banner_container{
    /* background-color: lightgreen; */
  
    width: 90%;
    margin: 0 auto;
    /* border:2px solid red; */
    text-align: center;
    flex-direction: column;

  }
  .banner_container_content{
    /* border:2px solid red; */
    display: flex;
    flex-direction: column !important;align-items: center;}
  .banner_container_content_left,.banner_container_content_right,.banner_container_content_left{
    width: 100%;
    margin-top: 5rem;
    
  }
  .covid_btn-group{
    flex-direction: column;
    align-items: center;

  }
  .covid_btn{
    width: 100%;
    margin-top: 20px;
  }
}


@media screen and (max-width:850px) {
  .banner::after,.home_full{
    /* background-color: lightgreen; */
  
   background-image:none !important;
   /* background-color: lightgray; */

  }
}

.navbar{
  /* border:2px solid red; */
  display: flex;
  justify-content: center;
  

}


.navbar_ul{
  /* border: 2px solid green; */
  margin: 0 auto;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  
color: white;
}


.nav-link{
  color: white;
}
