* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.formic_form {
  /* border:2px solid red !important; */
  padding-top: 50px !important;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#9fffff, red);
}

.form_container {
  background-image: linear-gradient(#9fffff, red);
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.formic_mainForm {
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  width: 70%;
  margin-top: 20px;
  padding: 30px;
  margin: 0 auto;
}

.form_title {
  position: relative;
  color: pink;
  opacity: 0.6;
  font-size: 11vh;
  -webkit-text-stroke: 0.3vw red;
  padding-bottom: 20px;
  text-align: center;
}
.input {
  color: red;
}
.input,
.form_btn_group > div {
  color: black;
  margin-top: 20px;
  font-size: 18px;
}

.select_field {
  margin-left: 30px;
}

.options_field,
.select_field {
  color: #0b9797;
  /* font-weight: bold; */
  font-size: 18px;
}

.form_submit,
.form_reset {
  padding: 4px 20px;
  background-color: #0b9797;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  /* border: none; */
  border: 1px solid #fff !important;
  z-index: -1 !important;
  cursor: pointer;
  transition: 0.8s;
}
.form_submit:hover,
.form_reset:hover {
  color: red;
}

/* .form_submit--div,
.form_reset--div {
  border: 2px solid #9fffff;
  width: 17%;
  border-radius: 12px;
  background-color: black;
  text-align: center;
  z-index: 1;
  position: relative;
} */

.form_submit::before,
.form_reset::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #9fffff;
  z-index: -1;
  transition: 0.8s;
}

.form_submit::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.form_reset::before {
  top: 0;
  border-radius: 0% 0% 50% 50%;
}

.form_submit:hover:before,
.form_reset:hover::before {
  height: 100%;
}
